/* Habitats */

.container_habitats {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 75px;
    color: rgb(50, 25, 5);
    padding: 50px 20px;
    background-color: rgba(248,250,229,0.8);
    box-shadow: rgb(50, 25, 5) 0 0 10px 2px;
    backdrop-filter: blur(5px);
} 

.container_habitats__header__h4 {
    width: min(225px, 275px);
    margin: auto;
    text-align: center;
    background-color: rgb(67,118,108);
    border: 3px inset rgb(248, 250, 229);
    border-radius: 15px;
    box-shadow: rgb(50, 25, 5) 0 0 5px 2px inset;
    color:rgb(248,250,229);
    padding: 10px 0;
    text-shadow:1px 1px 1px rgb(50,25,5);
}

.habitats__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.habitats__card__savane,
.habitats__card__felin,
.habitats__card__jungle {
    display: grid;
    grid-template-columns: 140px 125px;
    grid-template-rows: 125px, 125px;
    place-items: center;
    background-color: rgb(177, 148, 112);
    border: 3px ridge rgb(248,250,229);
    border-radius: 15px;
    box-shadow:
    0 0 2px 1px rgb(50,25,5) inset,
    0 5px 10px 1px rgb(50,25,5);
}

.habitats__card__header__savane__h4,
.habitats__card__header__felin__h4,
.habitats__card__header__jungle__h4 {
    color: rgb(50,25,5);
    font-weight: 600;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
}

.habitats__card__savane__img,
.habitats__card__felin__img,
.habitats__card__jungle__img {
    width: 138px;
    height: 91px;
    border-radius: 15px 0 0 15px;
    border-right: 2px ridge rgb(248,250,229);
    grid-row: 1/3;
    grid-column: 1;
}

.habitats__card__footer__savane__a,
.habitats__card__footer__felin__a,
.habitats__card__footer__jungle__a {
    width: 75%;
    padding: 5px;
    text-align: center;
    background-color:rgb(118, 69, 59);
    border: 1px solid rgb(50,25,5);
    border-radius: 25px;
    box-shadow: inset rgba(248,250,229, 0.5) 0 0 0 2px;
    color: rgb(248, 250, 229);
    font-size: small;
    text-decoration: none;
    font-weight: 600;
    grid-row: 2;
    grid-column: 2;
}

@media screen and (max-width:576px) {
    
    .presentation_habitats {
        width: min(100%, 600px);
        margin: 100px auto;
        font-weight:700;
        color: rgb(50, 25, 5);
        font-size: 14px;
        padding: 25px;
        background-color: rgba(248,250,229,0.8);
        box-shadow: rgb(50, 25, 5) 0 0 10px 2px;
        backdrop-filter: blur(5px);
    }

    .presentation_habitats h2 {
        text-align: center;
        margin-bottom: 25px;
        text-decoration: underline;
    }

    .presentation_habitats p:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 577px) {
    
    .presentation_habitats {
        width: min(75%, 720px);
        margin: 100px auto;
        font-weight:700;
        color: rgb(50, 25, 5);
        font-size: 14px;
        padding: 25px;
        background-color: rgba(248,250,229,0.8);
        border: 5px inset rgb(248,250,229);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        box-shadow:
        inset 0 0 3px 1px rgb(50,25,5),
        0 0 10px 5px rgb(50,25,5);
    }

    .presentation_habitats h2 {
        text-align: center;
        margin-bottom: 25px;
        text-decoration: underline;
    }

    .presentation_habitats p:not(:last-child) {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .container_habitats {
    width: min(100%, 700px);
    border: 5px inset rgb(248, 250, 229);
    border-radius: 15px;
    box-shadow:
        inset 0 0 3px 1px rgb(50, 25, 5),
        0 0 10px 5px rgb(50, 25, 5);
    } 
}