/* Presentation services */

@media screen and (max-width:768px) {
    
    .presentation_services {
        width: min(100%, 500px);
        margin: 100px auto;
        font-weight:700;
        color: rgb(50, 25, 5);
        font-size: 14px;
        padding: 25px;
        background-color: rgba(248,250,229,0.8);
        box-shadow: rgb(50, 25, 5) 0 0 10px 2px;
        backdrop-filter: blur(5px);
    }

    .presentation_services h2 {
        text-align: center;
        margin-bottom: 25px;
        text-decoration: underline;
    }

    .presentation_services p:not(:last-child) {
        margin-bottom: 20px;
    }

    .container_details_visit,
    .container_details_child_animation,
    .container_details_small_train,
    .container_details_restaurant {
        margin: 100px auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: rgb(50, 25, 5);
        padding: 50px 20px;
        background-color: rgba(248,250,229,0.8);
        box-shadow: rgb(50, 25, 5) 0 0 10px 2px;
        backdrop-filter: blur(5px);
    }

    .container_details_visit__header__h4,
    .container_child_animation__header__h4,
    .container_small_train__header__h4,
    .container_restaurant__header__h4 {
        width: min(275px, 350px);
        margin: auto;
        text-align: center;
        background-color: rgb(67,118,108);
        border: 3px inset rgb(248, 250, 229);
        border-radius: 15px;
        box-shadow: rgb(50, 25, 5) 0 0 5px 2px inset;
        color:rgb(248,250,229);
        padding:10px 0;
        text-shadow:1px 1px 1px rgb(50,25,5);
    }

    .container_visit,
    .container_child_animation,
    .container_small_train,
    .container_restaurant {
        width: min(100%, 550px);
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .visit_hour,
    .visit_day,
    .child_animation,
    .small_train,
    .restaurant_fastfood,
    .restaurant_gourmet {
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        background-color: rgb(67, 118, 108);
        border: 3px ridge rgb(248,250,229);
        box-shadow: inset rgb(50,25,5) 0 0 5px 2px;
        border-radius: 15px;
        color: rgb(248,250,229);
    }

    .visit_hour header,
    .visit_day header,
    .child_animation header,
    .small_train header,
    .restaurant_fastfood header,
    .restaurant_gourmet header {
        text-align: center;
    }

    .visit_hour aside p:not(:last-child),
    .visit_day aside p:not(:last-child),
    .child_animation aside p:not(:last-child),
    .small_train aside p:not(:last-child),
    .restaurant_fastfood aside p:not(:last-child),
    .restaurant_gourmet aside p:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .visit_hour footer,
    .visit_day footer,
    .child_animation footer,
    .small_train footer,
    .restaurant_fastfood footer,
    .restaurant_gourmet footer {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        
    }

    .visit_hour footer p,
    .visit_day footer p,
    .child_animation footer p,
    .small_train footer p,
    .restaurant_fastfood footer p,
    .restaurant_gourmet footer p {
        width: 175px;
        padding: 5px 10px;
        border-radius: 15px;
        background-color: rgb(118, 69, 59);
        font-weight: 600;
        color: rgb(248,250,229);
        border: 1px solid rgb(248,250,229);
        text-align: center;
    }
}

@media screen and (min-width: 769px) {
    
    .presentation_services {
        width: min(75%, 720px);
        margin: 100px auto;
        font-weight:700;
        color: rgb(50, 25, 5);
        font-size: 14px;
        padding: 25px;
        background-color: rgba(248,250,229,0.8);
        border: 5px inset rgb(248,250,229);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        box-shadow:
        inset 0 0 3px 1px rgb(50,25,5),
        0 0 10px 5px rgb(50,25,5);
    }

    .presentation_services h2 {
        text-align: center;
        margin-bottom: 25px;
        text-decoration: underline;
    }

    .presentation_services p:not(:last-child) {
        margin-bottom: 20px;
    }

}

@media screen and (min-width:769px) {

    .container_details_visit,
    .container_details_child_animation,
    .container_details_small_train,
    .container_details_restaurant {
        width: 650px;
        margin: 100px auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: rgb(50, 25, 5);
        padding: 50px 20px;
        background-color: rgba(248,250,229,0.8);
        border: 5px inset rgb(248,250,229);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        box-shadow:
        inset 0 0 3px 1px rgb(50,25,5),
        0 0 10px 5px rgb(50,25,5);
    }
    
    .container_visit__header__h4,
    .container_child_animation__header__h4,
    .container_small_train__header__h4,
    .container_restaurant__header__h4 {
        width: min(275px, 350px);
        margin: auto;
        text-align: center;
        background-color: rgb(67,118,108);
        border: 3px inset rgb(248, 250, 229);
        border-radius: 15px;
        box-shadow: rgb(50, 25, 5) 0 0 5px 2px inset;
        color:rgb(248,250,229);
        padding:10px 0;
        text-shadow:1px 1px 1px rgb(50,25,5);
    }
    
    .container_visit,
    .container_child_animation,
    .container_small_train,
    .container_restaurant {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
    }
    
    .visit_hour,
    .visit_day,
    .child_animation,
    .small_train,
    .restaurant_fastfood,
    .restaurant_gourmet {
        max-width: 75%;
        margin: auto;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        background-color: rgb(67, 118, 108);
        border: 3px ridge rgb(248,250,229);
        box-shadow: inset rgb(50,25,5) 0 0 5px 2px;
        border-radius: 15px;
        color: rgb(248,250,229);
    }
    
    
    .visit_hour header,
    .visit_day header,
    .child_animation header,
    .small_train header,
    .restaurant_fastfood header,
    .restaurant_gourmet header {
        margin-bottom: 25px;
        text-align: center;
    }
    
    .visit_hour aside p:not(:last-child),
    .visit_day aside p:not(:last-child),
    .child_animation aside p:not(:last-child),
    .small_train aside p:not(:last-child),
    .restaurant_fastfood aside p:not(:last-child),
    .restaurant_gourmet aside p:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .visit_hour footer,
    .visit_day footer,
    .child_aniamation footer,
    .small_train footer,
    .restaurant_fastfood footer,
    .restaurant_gourmet footer {
        display: flex;
        gap: 50px;
        
    }
    
    .visit_hour footer p,
    .visit_day footer p,
    .child_animation footer p,
    .small_train footer p,
    .restaurant_fastfood footer p,
    .restaurant_gourmet footer p {
        padding: 7px 15px;
        border-radius: 15px;
        background-color: rgb(118, 69, 59);
        font-weight: 700;
        color: rgb(248,250,229);
        border: 1px solid rgb(248,250,229);
    }
}

#details_visits,
#details_animation,
#small_train,
#restaurant {
    scroll-margin-top: 125px;
}