/* CSS slider_presentaion_arcadia.php */

@keyframes slider {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

.container_slider {
    width: min(100%, 576px);
    margin: auto;
    border-top: 2px inset rgb(248, 250, 229);
    border-bottom: 2px inset rgb(248, 250, 229);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
    color: rgb(50, 25, 5);
    background-color: rgba(248, 250, 229, 0.8);
    box-shadow: rgb(50, 25, 5) 0 0 10px 2px;
    backdrop-filter: blur(5px);
}

.header__h3 {
    width: min(225px, 275px);
    margin: auto;
    text-align: center;
    background-color: rgb(67, 118, 108);
    border: 3px inset rgb(248, 250, 229);
    border-radius: 15px;
    box-shadow: rgb(50, 25, 5) 0 0 5px 2px inset;
    color: rgb(248, 250, 229);
    padding: 10px 0;
    text-shadow: 1px 1px 1px rgb(50, 25, 5);
}

.slider_wrap {
    overflow: hidden;
    width: min(400px, 100%);
    margin: auto;
    background-color: rgba(50, 25, 5, 0.25);
    border: 3px inset rgb(248, 250, 229);
    border-radius: 15px;
    box-shadow: rgb(50, 25, 5) 0 0 5px 2px inset;
}

.slider {
    display: flex;
    animation: slider 30s infinite ease-in-out;
}

.slider_container__slider__card {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 100%;
    padding: 20px 25px;

}

.slider_container__slider__card h4 {
    text-align: center;
}

.slider_container__slider__card img {
    width: 220px;
    height: 146px;
    margin: 25px 0;
    border-radius: 15px;
    border: 2px inset rgb(248, 250, 229);
    box-shadow: 0 0 0 1px rgb(50, 25, 5);
}

.slider_container__slider__card p {
    text-align: center;
    font-weight: 600;
}

@media screen and (min-width: 577px) {

    .container_slider {
        width: min(75%, 576px);
        background-color: rgba(248, 250, 229, 0.8);
        border: 5px inset rgb(248, 250, 229);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        box-shadow:
            inset 0 0 3px 1px rgb(50, 25, 5),
            0 0 10px 5px rgb(50, 25, 5);
    }

    .slider_container__slider__card img {
        width: 250px;
        height: 166px;
        margin: 25px 0;
        border-radius: 15px;
        border: 2px inset rgb(248, 250, 229);
        box-shadow: 0 0 0 1px rgb(50, 25, 5);
    }
}